:root {
	--background-color1: #090607;
	--background-color2: #1f2d3d;
	--background-color3: #2f3d4d;
	--text-color: #dce2e5;
	--subtext-color: #e9e1e977;
	--accent-color1: #ca1347;
	--accent-color2: #ff3d64;
	--overlay-color: #000a;
	--link-color: var(--accent-color1);
	--link-color-hover: var(--accent-color2);
	/* Invert = on accent color 1 */
	--invert-text-color: var(--text-color);
	--invert-accent1: var(--text-color);
	--invert-accent2: #452c21;
}

body {
    font-family: "Goudy Bookletter 1911", serif;
    color: var(--text-color);
	background-color: var(--background-color1);
	font-size: 18px;
}

.mono {
	font-family: "Fira Code", monospace;
}

a {
	color: var(--link-color);
	text-decoration: underline 1px;
}

a:hover, a:focus {
	text-decoration: underline 2px;
	color: var(--link-color-hover);
}

h1.subtitled {
	margin-bottom: 2px;
}

h2 {
	margin-bottom: 1px;
}

h4 {
	color: var(--subtext-color);
	margin-top: 0px;
}

.invert {
	color: var(--invert-text-color);
}

.invert > a {
	color: var(--invert-accent1);
}

.invert > a:hover {
	color: var(--invert-accent2);
}
.info {
	float: right;
	display: block;
	border: 1px solid var(--text-color);
	background-color: var(--background-color3);
	margin-left: 15px;
	margin-bottom: 5px;
	padding: 6px;
}

th.info-head {
	text-align: center;
}

th.info-label {
	display: flex;
}

.info-cover {
	display: flex;
	align-items: center;
	justify-content: center;
}

.info-cover img {
	border: solid 1px var(--text-color);
}

ul, ol {
	list-style:square;
}

li {
	margin-bottom: 2px;
}

.window {
	border: solid var(--accent-color1);
	position: absolute;
	padding: 0px;
	border-radius: 3px;
	background-color: var(--background-color2);
    transition: border 0.3s ease-out;
}

.content {
	position: absolute;
	left: 6%;
	width: 88%;
	padding-bottom: 4%;
	border-radius: 3px;
	background-color: var(--background-color2);
	text-align: justify;
}

.app {
	padding: 10px;
}

.header, .header:hover {
	font-size : 15px;
	color: var(--text-color);
	background-color: var(--accent-color1);
	height: 20px;
	cursor: default;
    transition: background-color 0.3s ease-out;
}

.gallery {
	display: grid;
	grid-template-rows: repeat(auto-fill, 210px);
	grid-template-columns: repeat(auto-fill, 150px);
	grid-gap: 30px;
	padding: 5px;
}

.grid-entry, .grid-entry:hover {
	display: block;
	position: relative;
	margin: 0px;
	width: 150px;
	height: 210px;
	border-radius: 5px;
	background-size: cover;
	text-decoration: none;
	z-index: 1;
}

.grid-entry::before {
	content: "";

	position: relative;
	display: block;
	inset: 0;
	width: 100%;
	height: 100%;
	z-index: 0;

	background: var(--overlay-color);
	opacity: 0;
	transition: opacity 0.3s ease;
    border-radius: 5px;

	overflow: hidden;
}
  
.grid-entry:hover::before {
	opacity: 1;
}

.grid-entry span {
	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
	top: -100%;
	opacity: 0;
	z-index: 1;
	transition: opacity 0.3s ease;

	justify-content: center;
	align-items: center;
	text-align: center;
	text-wrap: stable;
}

.grid-entry span:hover  {
	opacity: 1;
}

@media (max-width: 768px) {
	.window {
		border-radius: 0px;
		background-color: #1f2d3d;
	}

	.content {
		top: 0%;
		left: 0%;
		width: auto;
	}

	.header, .header:hover {
		height: 40px;
		display: flex;
		align-items: center;
	}

	.gallery {
		grid-gap: 10px;
	}
}

@media (max-width: 600px) {
	.info {
		float: none;
		margin-left: 5px;
		display: flex;
		justify-content: center;
	}
}
